.card {
    background-color: mintcream;
    min-width: 300px;
    max-width: 350px;
    border-radius: 20px;
    box-shadow: 2px 2px 7px -3px rgba(0,0,0,.75);
    /* outline: 2px solid red; */

    /* margin: 20px auto; */
    margin: 20px;
}

.card_header img {
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.card_body {
    /* outline: 2px solid red; */
    padding: 10px 20px;
}

.card_body h2 {
    margin: 5px 0 2px 0;
}

.card_body .timestamp {
    opacity: 0.8;
    font-size: .8em;
}


.card_body .author_info {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.card_body .author_info .author {
    opacity: 0.9;
    font-size: .9em;
    margin-left: 5px;
}

.card_body .author_info img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.card_body p {
    margin-top: 20px;
}

.card_body h2 a {
    text-decoration: none;
    color: #3f1d58;
}

.card_action {
    /* margin: 10px 0; */
    /* outline: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 20px 0;
}

.card_action span {
    cursor: pointer;
    background-color: #6025b5;
    border-radius: 20px;
    padding: 10px 20px;
    color: mintcream;
    transition: transform 200ms ease;
    box-shadow: 2px 2px 7px -3px rgba(0,0,0,.75);
}

.card_action span:hover {
    transform: scale(1.05);
}

.card_action > *:not(span) {
    margin-right: 20px;
}

.news_btn {
    width: 85%;
    text-align: center;
    margin: 0 auto;
}

.article_btn {
    margin-left: 20px;
}