.title-addtition {
    background-color: #0F1245;
    margin: 0 auto;
    color: #424ad1;
    width: 90%;
    padding: 10px 15px 10px 0;
    border-radius: 10px;
    box-shadow: 1px 1px 7px -5px rgba(0,0,0,.75);
    display: flex;
    align-items: center;
    justify-content: space-between;
}