*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #5d2bb0ff;
  --primary-2: #522475ff;
  --primary-3: #6025b5ff;
  --primary-4: #8124b6ff;
  --secondary: rgb(148, 36, 182);

  --mobile: 600px;
  --desktop: 1300px;
  --tablet: 1000px;
}

html, body {
  font-size: 16px;
  overflow-x: hidden;
}

* {
  /* outline: 2px solid red; */
}

body {
  background-color: rgb(228, 228, 228);
  background-repeat: no-repeat;

}

