*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #5d2bb0ff;
  --primary-2: #522475ff;
  --primary-3: #6025b5ff;
  --primary-4: #8124b6ff;
  --secondary: rgb(148, 36, 182);

  --mobile: 600px;
  --desktop: 1300px;
  --tablet: 1000px;
}

html, body {
  font-size: 16px;
  overflow-x: hidden;
}

* {
  /* outline: 2px solid red; */
}

body {
  /* background: linear-gradient(#522475, var(--secondary), var(--primary-2), var(--primary-3)); */
  background-color: rgb(228, 228, 228);
  background-repeat: no-repeat;

}

.hero-wave {
  margin-bottom: 50px;
  fill: #8e44ad;
}

.overlay {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 50px;
  /* background-color: #0F1245; */
  background-color: rgb(228, 228, 228);
  margin-bottom: 50px;
}

.title-addtition {
  background-color: #FF475A;
  margin: 0 auto;
  width: 90%;
  padding: 15px 15px 15px 0;
  border-radius: 20px;
  /* border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; */
  box-shadow: 1px 1px 7px -5px rgba(0,0,0,.75);

}

.news-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* outline: 2px solid red; */
}

.search {
  background-color: mintcream;
  color: #0F1245;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 50px;

  padding: 10px 10px;
  border-radius: 30px;
  box-shadow: 2px 2px 7px -3px rgba(0,0,0,.75);
}
@media (max-width: 600px) {
  .search {
    margin-right: 20px;
    border-radius: 30px;
    box-shadow: 2px 2px 7px -3px rgba(0,0,0,.75);
  }
}

.search input  {
  border: none;
  outline-width: 0;
  background-color: transparent;
  font-size: 1.2em;
  color: #0F1245;
  margin-left: 5px;
  width: fit-content;
}

.search:focus-within {
  background-color: rgb(233, 235, 234);
}



.cards {
  margin: 50px auto;
  width: 90%;
  padding: 20px 0 20px 0;
  /* outline: 2px solid yellow; */
  /* width: 80%; */
  /* margin-left: 20px; */
}

.cards::-webkit-scrollbar {
  display: none;
}

.cards {
  -ms-overflow-style: none;
  /* scrollbar-width: none; */
  overflow-y: hidden;
}

.cards .load_more {
  background-color: #0F1245;
  color: mintcream;
  padding: 15px 70px;
  border-radius: 10px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
  font-weight: 700;
  cursor: pointer;
  transition: all 200ms ease;
  box-shadow: 0 2px 7px -2px rgba(0,0,0,.75);
  margin: 20px 20px 0 auto;
}

.cards .load_more:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 4px 7px -2px rgba(0,0,0,.75);
}

.cards .load_more span {
  /* margin-right: 20px; */
}

.news-cards {
  overflow-y: hidden !important;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  /* animation: slider 40s linear infinite; */
  /* width: calc(300px * 8); */
  overflow-x: auto;
}


@keyframes slider {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-300px * 2));
  }
}

.article-topicSelection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* outline: 2px solid red; */
}

.article-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}